.vscode/**
.vscode-test/**
out/test/**
src/**
!src/infra/view/html/**
!src/infra/view/js/**
!src/infra/view/style/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
