name: Template Verify
on:
  push:
    branches: [ master ]
    paths: [ '**/gradle.properties' ]
  pull_request:
    paths: [ '**/gradle.properties' ]

jobs:

  build:
    name: Template Verify
    if: github.event.repository.name == 'intellij-platform-plugin-template'
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.properties.outputs.version }}
      changelog: ${{ steps.properties.outputs.changelog }}
    steps:

      # Check out the current repository
      - name: Fetch Sources
        uses: actions/checkout@v6

      # Compare `gradle.properties` with `.github/template-cleanup/gradle.properties`
      - name: Verify gradle.properties
        run: |
          echo "\`\`\`diff" >> $GITHUB_STEP_SUMMARY

          diff -U 0 \
            -I '^pluginVersion' \
            -I '^pluginGroup' \
            -I '^pluginName' \
            -I '^pluginRepositoryUrl' \
            --label .github/template-cleanup/gradle.properties \
            --label gradle.properties \
            .github/template-cleanup/gradle.properties gradle.properties \
            >> $GITHUB_STEP_SUMMARY

          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
